/* Modern CSS Reset https://andy-bell.co.uk/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Own */
:root {
  --color-neutral-100: hsla(0, 0%, 100%, 1);
  --color-primary-800: hsla(229, 47%, 17%, 1);
  --color-primary-400: hsla(229, 50%, 58%, 0.3);
  --color-primary-300: hsla(229, 36%, 39%, 1);
  --color-accent-400: hsla(147, 93%, 43%, 1);

  --font-family-base: "Outfit", sans-serif;
  --font-with-regular: 300;
  --font-size-400: 1.125rem;
}

html {
  color-scheme: dark;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-400);
  font-weight: var(--font-with-regular);
  color: var(--color-neutral-100);
  line-height: 1.5;
  background-color: var(--color-primary-800);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  clip-path: inset(50%);
}

.main-grid {
  --aside-width: clamp(7.5rem, 20vw, 15rem);
  --gap-size: 10wv;
  display: grid;
  grid-template-columns: var(--aside-width) 1fr;
  gap: var(--gap-size);
  grid-auto-flow: dense;
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  grid-column: 2;
  width: calc(100vw - var(--gap-size) - var(--aside-width));

}

aside {
  grid-column: 1;
  align-self: stretch;
}

.text {
  margin-right: clamp(1rem, 5vw, 10rem);
}

.icon-list {
  height: 100%;
  border-left: 1px solid var(--color-primary-300);
  padding: 0;
  margin: 0;
  margin-left: clamp(1rem, 5vw, 10rem);
  list-style: none;
  display: grid;
  align-content: center;
  gap: clamp(1rem, 5vw, 3rem);
}

.icon-list>li {
  position: relative;
  padding-left: 2rem;
}

.icon-list>li::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  top: 0.5rem;
  left: 0;
  transform: translateX(-50%);
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 0.5rem solid var(--color-primary-400);
  background: var(--color-neutral-100);
}

.icon-list>li:hover::after {
  outline: 0.5rem solid var(--color-primary-300);
  background: var(--color-accent-400);
}

.icon {
  height: 2rem;
  width: 2rem;
}